h6 {
    // padding: 0;
    margin-top: 1em;
    margin-bottom: 1em;
}

.step-container {
    justify-content: center;
    text-align: center;
}

.input-group {
    margin-bottom: 1.5em;
}

button {
    margin-right: 1em;
}